<h1>GET Request Received:</h1>
<table border= 1px solid black>
    <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Value</th>
        </tr>
    </thead>
        {{#each datalist}}
        <tbody>
            <td>{{this.name}}</td><td>{{this.value}}</td>
        </tbody>
        {{/each}}
</table>